@import "../components/navigation.less";

.page-header {
  background-color: @white-color;
}

.page-header__container {
  max-width: 320px;
  height: 79px;
}

.page-header__logo {
  display: flex;
  justify-content: center;
}

.page-header__logo-img {
  margin: 22px auto;
}

.page-header__burger {
  background-image: url("../../img/menu-burger.svg");
  background-repeat: no-repeat;
}
