html,
body {
  max-width: 320px;
  height: 100%;
  margin: 0 auto;
  background-color: @white-color;
  color: @black-color;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
}

li {
  list-style-type: none;
}

.heading {
  .font-text(700;25px;30px);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
