@black-color: #000000;
@white-color: #ffffff;
@brown-color: #444444;
@lilak-color: #F1F1F1;
@green-color: #63D1BB;
@light-green-color: #59D5BC;
@medium-green-color: #56C3B2;
@dark-green-color: #46C1AE;
@bright-green-color: #62D1BA;
// Адаптивные размеры
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1050px;
@mobile-width-only: 767px;
