@black-color: #000000;
@light-black-color: #231F20;
@white-color: #ffffff;
@light-white-color: #c6c6c6;
@white-red-color: #e5e5e5;
@brown-color: #444444;
@light-brown-color: #ececec;
@lilak-color: #F1F1F1;
@lilak-dark-color: #f9f9f9;
@green-color: #63D1BB;
@light-green-color: #59D5BC;
@medium-green-color: #56C3B2;
@dark-green-color: #46C1AE;
@bright-green-color: #63D1Bb;
// Адаптивные размеры
@tablet-width: 768px;
@desktop-width: 1150px;
//rgba color
//rgba(0, 1, 1, 0.25);
//rgba(255, 255, 255, 0.3);
//rgba(255, 255, 255, 0.9);
//rgba(68, 68, 68, 0.1);
//rgba(0, 0, 0, 0.3);
//rgba(0, 0, 0, 0.1);
//rgba(70, 193, 174, 0.1);
