.card-top__subtitle {
  .font-text(700;17px;20px);
  color: @green-color;
}

.card-top__text {
  .font-text(400;15px;24px);
  color: @brown-color;
}

.card-top__column {
  .font-text(400;15px;20px);
  color: @brown-color;
  display: flex;
  align-items: center;
}

.card-top__img {
  margin: auto 30px;
  width: 260px;
  height: 315px;
}

.card-top__price {
  .font-text(700; 17px; 24px);
  color: @brown-color;
  text-align: center;
}
