.catalog-link {
  .link-reset();
  position: relative;
  display: block;
  padding: 24px 30px 31px;
  color: @white-color;
  font-weight: 700;
  font-size: 19px;

  @media (min-width: @tablet-width) {
    padding: 26px 36px 32px;
    font-size: 20px;
    line-height: 30px;

    &:hover {
      margin-top: -5px;
      padding: 26px 36px 37px;
    }
  }

  &--interior-items {
    background-color: @green-color;

    &:hover {
      background-color: @light-green-color;
    }

    &:active {
      background-color: @light-green-color;
    }

    &::after {
      position: absolute;
      content: "";
      width: 40px;
      height: 62px;
      top: 50%;
      right: 36px;
      transform: translateY(-50%);
      background-image: url("../img/index/interior-btn.svg");
      background-repeat: no-repeat;
    }
  }

  &--toys {
    background-color: @medium-green-color;

    &:hover {
      background-color: @dark-green-color;
    }

    &:active {
      background-color: @dark-green-color;
    }

    &::after {
      position: absolute;
      content: "";
      width: 60px;
      height: 60px;
      top: 50%;
      right: 27px;
      transform: translateY(-50%);
      background-image: url("../img/index/toys-btn.svg");
      background-repeat: no-repeat;
    }
  }
}

.catalog-link--interior-items:hover::after,
.catalog-link--toys:hover::after {
  opacity: 0.7;
  transform: translateY(-50% - 5px);
}

.catalog-link__caption {
  margin: 0;
  width: 130px;
}
