
.features__list {
  .font-text(700; 19px; 24px);
}

.interior-items {
  background-color: @green-color;
}

.features__link {
  color: @white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kids-toys {
  background-color: @medium-green-color;
}
